/*ÍCONES DO MENU HORIZONTAL */
li i{
    margin-right: 5px;
}

.fa-database{
    color: #eca43b;
}

.fa-sort-down{
    margin-left: 5px;
    cursor: pointer;
}

/* ÍCONE DO GLOBO */
.fa-globe{ 
    color: green;
}

/* ÍCONES DO MENU DA COLUNA ESQUERDA */
a i{
    color: #5f82b9;
    margin-right: 10px;
}

.fa-file-signature{
    color: #5f82b9;
}
