/* MOBILE FIRST*/

/* ESTILO SCROLLBAR******/

/*HEADER****************************************/
header{
    width: 100%;
    height: 900px;
    background: url(../img/Artes/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center right;
    background-size: cover;
    box-shadow: inset -2px -40px 37px 8px rgba(0,0,0,0.75);
}

.header_filter{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header_tittle{
    width: 100%;
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
}

.tittle_logo{
    visibility: hidden;
}

.header_subtittle{
    visibility: hidden;
}

/*MAIN***********************************************/
main{
    width: 100%;
}

section{
    margin: 110px auto;
    width: 90%;
}

.section_tittle{
    text-align: center;
    color: #fff;
    font-size: 2em;
}

/*SECTION 1* - COMIC*/
.cp_container{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 750px 100px;
    grid-gap: 15px;
}

.cp_text{
    color: #fff;
}

#text-sinopse{
    text-align: center; 
    font-style: italic;
}

.cp_buttons-desktop_inside{
    display: none;
}

.cp_buttons-desktop_external{
    margin-top: 50px;
    display: none;
}

.cp_buttons-mobile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cpm_button_1{
    justify-self: end;
    align-self: center;
    margin-right: 15px;
}

.cpm_button_2{
    justify-self: start;
    align-self: center;
    margin-left: 15px;
}

/*SECTION 2 - TRAILER*/

/*SECTION 3 - SLIDESHOW*/

/*SECTION 4 - AUTORA*/
.section_author{
    display: grid;
    grid-template-rows: 100px 1fr;
}

.sa_main{
    display: grid;
    grid-template-rows: 250px 1fr;
    grid-gap: 15px;
    margin-top: 50px;
}

.sa_author-photo{
    display: flex;
    justify-content: center;
}

.author_photo{
    border-radius: 100%;
}

.sa_author-text{
    text-align: center;
}

/*SECTION 4 - APOIE*/
.sd_social-media{
    text-align: center;
}

.sd_social-media i{
    color: #fff;
    font-size: 1.5em;
    margin: 5px;
}

.sd_text{
    text-align: center;
}

/* FOOTER*******************************************/
footer{
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
}