@media (max-width: 750px){
    .icon_link img{
        width: 110px;
    }
}

@media (min-width: 750px){

    #text-sinopse{
        text-align: justify;
    }

}

@media (min-width: 750px) and (max-width: 1200px){

    .section_tittle img{
        width: 350px;
    }


    .cp_buttons-mobile{
        display: none;
    }

    .cp_text{
        display: grid;
        grid-template-rows: 450px 100px;
        overflow: scroll;
    }

    .cp_container{
        /* Cria-se uma grade de duas colunas e 2 linhas*/
        /*A primeira linha contém o texto e a imagem, e a segunda contém os botões*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto; 
    }

    .cp_buttons-desktop_external{
        display: flex;
        justify-content: center;
        grid-column: span 2; /* a célula ocupa duas colunas*/
    }

    .cpd_button_1{
        margin-right: 20px;
    }
    
    .cpd_button_2{
        margin-left: 20px;
    }

    .comic_presentation h2{
        text-align: left;
    }

    .icon_link img{
        width: 150px;
    }

}

@media (min-width:1200px){

    .section_tittle img{
        width: 350px;
    }


    .cp_buttons-mobile{
        display: none;
    }

    .cp_text{
        display: grid;
        grid-template-rows: 450px 100px;
    }

    .cp_container{
        /* Cria-se uma grade de duas colunas e 2 linhas*/
        /*A primeira linha contém o texto e a imagem, e a segunda contém os botões*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto; 
    }

    .cp_buttons-desktop_inside{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        grid-column: span 2; /* a célula ocupa duas colunas*/
    }

    .cpd_button_1{
        margin-right: 20px;
    }
    
    .cpd_button_2{
        margin-left: 20px;
    }

    .comic_presentation h2{
        text-align: left;
    }

    .icon_link img{
        width: 200px;
    }

}